01_clean-data/db/*
01_clean-data/language_detections/*
01_clean-data/osha_clean_*.csv
01_clean-data/ppe_vs_nonppe.xlsx

02_sample-data/*.csv

04_distilbert/evaluation/*
04_distilbert/checkpoints/*
04_distilbert/model/*
04_distilbert/*.sh
04_distilbert/*.o
04_distilbert/*.e
04_distilbert/*.csv
04_distilbert/predict_oos_m0/*
04_distilbert/predict_oos_m1/*
04_distilbert/predict_oos_m2/*

05_results/*.eps
05_results/*.pdf
